.main_products {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.showcase {
  display: flex;
  gap: 30px;
}
.product {
  max-width: 278px;
  background-color: #AFCBC3;
  border-radius: 8px;
  padding-bottom: 27px;
}
.product p {
  padding: 0 4px;
  margin-bottom: 29px;
}
.product h4 {
  margin-left: 16px;
}
.product button {
  background: none;
  border: none;
  font-size: 24px;
  padding: 0 24px;
}
.product button:hover {
  cursor: pointer;
  color: #fff;
}